set_io clk 35

set_io io_led_r 39
set_io io_led_g 40
set_io io_led_b 41

set_io io_i2c_sda 27
set_io io_i2c_scl 23

set_io io_display_data[7] 13
set_io io_display_data[6] 21
set_io io_display_data[5] 12
set_io io_display_data[4] 11
set_io io_display_data[3] 10
set_io io_display_data[2] 9
set_io io_display_data[1] 3
set_io io_display_data[0] 4

set_io io_display_write 45
set_io io_display_cd 48
set_io io_display_cs 44

set_io io_display_read 46
set_io io_display_reset 43